*{

    padding: 4px;
    margin: 4px;
    font-family: serif;
    font-display: display;
    text-decoration: rgb(117, 64, 64);
    background-color: rgb(74, 80, 79);
    color: blanchedalmond;
    align-items: center;
    left: 0;
    right: 500;
    box-shadow: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
*{
    background-color: rgb(74, 80, 79);
    color: blanchedalmond;
    font-style: italic;
    position: relative;
    justify-content: space-between;
    align-items: center;
    box-shadow: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
*{
    background-color: rgb(74, 80, 79);
    color: blanchedalmond;
    font-style: italic;
    position: relative;
    justify-content: space-between;
    align-items: center;
    box-shadow: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
*{

}
